# Python virtualenv
.venv/
venv/

# Environment variables
# .env
test.env

# DBT artifacts
target/
logs/
dbt_modules/
dbt_packages/
integration_tests/state/
site/
env/
# profiles.yml
package-lock.yml

# IDE
.vscode
.idea

# MacOS
.DS_Store
integration_tests/package-lock.yml