export SNOWFLAKE_ACCOUNT=zna84829
export SNOWFLAKE_USER=benoit_p
export DBT_ENV_SECRET_SNOWFLAKE_PASS=zcq4wrv@VNJ8jvh2unv
export SNOWFLAKE_ROLE=TRANSFORMER
export SNOWFLAKE_DATABASE=analytics
export SNOWFLAKE_WAREHOUSE=TRANSFORMING
    