:root {
    --md-primary-fg-color:        #047377;
    --md-accent-fg-color:         #ff694a;
  }

[data-md-color-scheme="slate"] {
--md-typeset-a-color:             #ff694a;
--md-accent-fg-color:             #047377;
}

div[data-md-component=announce] {
  background-color: rgba(255,145,0,.1);
}
div[data-md-component=announce]>div#announce-msg{
  color: var(--md-admonition-fg-color);
  font-size: .8rem;
  text-align: center;
  margin: 15px;
}
div[data-md-component=announce]>div#announce-msg>a{
  color: var(--md-typeset-a-color);
  text-decoration: underline;
}