name: Publish MkDocs on Release

on:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs-material mike

    - name: Extract Major and Minor Version
      run: |
        VERSION_TAG=${{ github.event.release.tag_name }}
        VERSION_TAG="${VERSION_TAG#v}"  # Remove 'v' prefix if present
        MAJOR="${VERSION_TAG%%.*}"
        MINOR="${VERSION_TAG#*.}"
        MINOR="${MINOR%%.*}"
        MAJOR_MINOR_VERSION="${MAJOR}.${MINOR}"
        echo "MAJOR_MINOR_VERSION=${MAJOR_MINOR_VERSION}" >> $GITHUB_ENV

    - name: Deploy Updated Docs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        mike deploy --push --message "Deploy docs for release ${{ github.event.release.tag_name }}" --update-alias $MAJOR_MINOR_VERSION latest
        mike set-default --push latest
